.modalDarkBg {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  transition: 2000ms ease-in-out;
}

.modal {
  background-color: #8D99AE;
  width: 80vw;
  max-height: 90vh;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 1.5rem;
  overflow-y: auto;
}

.closeIconContainer {
  display: flex;
  justify-content: end;
  overflow: visible;
  padding: .75rem .75rem;
}

h3, p{
  color: #343a40;
}
img {
  max-height: 70vh;
}

.rightPanel {
  height: 100%;
}

.rightPanel form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

input{
  background-color: #EDF2F4 !important;
}

.submitBtn{
  background-color: #2B2D42 !important;
}

@media only screen and (min-width: 992px) {
  .rightPanel form {
    width: 80%;
  }
}
