.footer{
  margin-top: 1.5rem;
  min-height: 7vh;
  background-color: #262626;
  display: flex;
}
.footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

p {
  margin-bottom: 0;
}

.footerContainer a {
  color: white;
  margin-left: 0.75rem;
}
